.App-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.App-content {
  position: absolute;
  width: 85%;
  height: 62vh;
  top: 55%;
  left: 50%;
  
  transform: translate(-50%, -50%);
  z-index: 1;
}

.Content-header {
    text-align: center;
}

@media only screen and (min-width: 720px) {
    .App-content {
        width: 75%;
        background-image: url('../images/geometry2.png');
        border-radius: 5px;
    }
}

.slideIn {
  position: relative;
  animation: slideIn 1s;
}

@keyframes slideIn {
  0% { bottom: -100px }
  100% { bottom: 0 }
}

.btn-close {
    position: absolute;;
    width: 35px;
    height: 35px;
    top: 40px;
    right: 40px;
    background-image: url('../images/close_icon.svg');
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}
