.Contact-color {
  color: #D64652;
}

.Contact-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #D64652;
  color: #FFF;
  text-align: center;
}

.Contact-header h2 {
  margin: 0;
  padding: 8px;
}

.Contact-form {
  border: 2px solid #D64652;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #FFF;
  text-align: left;
}

.form-item {
  border-bottom: 1px solid #D64652;
}

#Contact-send {
  margin: 10px 5px;
  padding: 5px 25px;
  border-radius: 1px;
  background-color: #5072B3;
  color: #FFF;
  text-transform: capitalize;
  cursor: pointer;
}