.Portfolio-color {
  color: #2FB2B1;
}

.thumbnail-item {
  position: relative;
  margin: 0 10px 15px 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.27);
  cursor: pointer;
  overflow: hidden;
}

@media only screen and (min-width: 720px) {
  .thumbnail-title {
    position: absolute;
    padding: 5px 15px;
    width: 100%;
    bottom: -200px;
    left: 0;
    background-color: rgba(47, 178, 177, 0.8);
    color: #FFF;
    text-align: center;
    transition: bottom 0.6s ease-out;
  }
  .thumbnail-item:hover .thumbnail-title { /* Animate Thumbnail title */
    bottom: 0;
  }

  .project-links a {
    margin: 5px 10px;
    text-decoration: none;
  }

  .link-site {
    padding: 5px 25px;
    background-color: #D64652;
    border: none;
    color: #FFF;
  }
}

/* Modal */

.Portfolio-modal {
  position: fixed;
  width: 800px;
  height: 700px;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
}

.modal-content {
  position: absolute;
  padding: 20px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #FFF;
  border-radius: 5px;
  overflow: auto;
}

.modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(128, 128, 128, 0.71);
  z-index: 10;
}

.project-intro {
  margin-bottom: 20px;
}

.project-desc {
  margin-top: 20px;
  text-align: justify;
}





.project-technologies ul {
  padding-left: 30px;
}

.project-links a {
  text-decoration: none;
}

.link-site {
  padding: 5px 15px;
  background-color: #D64652;
  border: none;
  color: #FFF;
}

.link-git {
  padding: 5px 20px;
  background-image: url('../images/github_icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FFF;
}

