.Resume-color {
  color: #5072B3;
}

.Resume-download {
  padding: 5px 15px;
  width: 100%;
  height: 50px;
  background-color: #5072B3;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.Resume-download a { /* Download Button */
  float: right;
  width: 35px;
  height: 35px;
  background-image: url('../images/download_icon.png');
  background-size: cover;
}

.Resume-download a:hover {
  background-color: #ffd260;
  border-radius: 50%;
}

.Resume-htmlResume { /* Resume Container */
  padding: 20px;
  max-height: 1850px;
  border: 2px solid #ececec; /* Resume border */
  background-color: #FFF;
}

/* Font, weight and size specific to Resume */
.Resume-htmlResume h1 {
  font-family: "adelle-sans";
  font-weight: bold;
}

.Resume-htmlResume h2 {
  font-family: "adelle-sans";
  font-weight: bold;
}

.Resume-htmlResume h3 {
  font-family: "adelle";
  font-weight: bold;
  text-transform: capitalize;
}

.Resume-list li {
  line-height: 1.4;
  list-style-type: none;
}

.htmlResume-header {
  position: relative;
  top: 0;
  left: 0;
}

.htmlResume-brand {
  text-align: center;
}

.htmlResume-contact { /* RESUME CONTACT */
  width: 100%;
}

.contactResume-list li {
  padding: 0 20px;
  background-color: #ff7a7e;
  color: #FFF;
  text-align: right;
}

.contactResume-list a {
  color: #FFF;
  text-decoration: none;
}

.htmlResume-box {
  padding: 2px 15px;
}

.htmlResume-exp { /* RESUME EXPERIENCE */
  background-color: #adccff;
  box-shadow: -10px 10px #8fabcb;
}

.exp-item {
  margin-bottom: 15px;
}

.exp-location {
  font-style: italic;
}

.exp-desc {
  padding-left: 20px;
}

.htmlResume-skills { /* RESUME SKILLS */
  background-color: #ffd260;
  box-shadow: -10px 10px #dbb24d;
}

.htmlResume-skills h2 {
  font-size: 17px;
}

.htmlResume-edu { /* RESUME EDUCATION */
  background-color: #49d2ce;
  box-shadow: -10px 10px #00afac;
}

@media only screen and (min-width: 720px) {
  .Resume-htmlResume { /* Resume Container */
    height: 1100px;
  }
  .htmlResume-content {
    position: relative;
    top: 20px;
  }
  .htmlResume-contact { /* RESUME CONTACT */
    position: absolute;
    width: 100%;
    top: 10px;
    left: 0;
  }
  .contactResume-list li {
    margin: 15px 0;
    padding: 1px 20px;
  }
  .htmlResume-box {
    padding: 10px 25px;
  }
  .htmlResume-exp { /* RESUME EXPERIENCE */
    position: absolute;
    top: 0;
    padding-right: 100px;
    width: 60%;
  }
  .htmlResume-skills { /* RESUME SKILLS */
    position: absolute;
    width: 50%;
    top: 350px;
    right: 0;
    z-index: 31;
  }
  .skills-item {
    margin-left: 8px;
    vertical-align: top;
  }
  .htmlResume-edu { /* RESUME EDUCATION */
    position: absolute;
    padding-right: 120px;
    width: 60%;
    top: 930px;
    z-index: 30;
  }
}

@media only screen and (min-width: 1020px) { /* LAPTOP */
  .Resume-htmlResume { /* Resume Container */
    height: 1000px;
  }
  .htmlResume-edu { /* RESUME EDUCATION */
    padding-right: 130px;
    top: 830px;
  }
}

@media only screen and (min-width: 1440px) { /* LAPTOP L */
  .Resume-htmlResume { /* Resume Container */
    height: 1200px;
  }
  .htmlResume-skills { /* RESUME SKILLS */
    top: 430px;
  }
  .htmlResume-edu { /* RESUME EDUCATION */
    top: 1080px;
  }
}