/* ==== LAYOUT ==== */
section > header {
  margin-top: 30px;
}

.App-container {
  padding: 40px;
}

.App-content {
  position: relative;
  text-align: center;
}

@media only screen and (min-width: 720px) {
  .App-header {
    margin-bottom: 30px;
  }

  .App-content {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  .Home > .App-header {
    margin-bottom: 0;
  }

  .Home.App-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* ==== MODULES ==== */

.App-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

@media only screen and (min-width: 720px) {
  .Home .App-logo {
    width: 300px;
  }
}

.App-nav {
  position: inline-block;
  bottom: 0;
}

.App-nav ul {
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.App-nav li { /* Nav Mobile Buttons */
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
  border: 1px solid;
  text-align: center;
  cursor: pointer;
}

.Nav-home .App-logo {
  width: 120px;
}

.Nav-home > .App-logo, .App-nav li button {
  cursor: pointer;
}

.Nav-about {
  background-color: #F1C234;
  color: #FFF;
}

.Nav-portfolio {
  background-color: #2FB2B1;
  color: #FFF;
}

.Nav-contact {
  background-color: #D64652;
  color: #FFF;
}

.Nav-resume {
  background-color: #5072B3;
  color: #FFF;
}


@media only screen and (min-width: 720px) {
  .App-nav {
    position: initial;
  }

  .App-nav li {
    position: fixed;
    margin: 60px;
    border: none;
  }

  .App-nav h3 {
    font-size: 13px;
  }

  /* NAV BUTTON */
  .App-nav button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
  }

  .App-nav button:hover {
    animation: btnBeat 2s ease-out infinite;
  }

  @keyframes btnBeat {
      0%, 100% {
        opacity: 1;
        transform: scale(1);
      }
      50% {
        opacity: 0.2;
        transform: scale(1.2);
      }
  }

  .App-nav li { 
    width: initial;
    background-color: initial;
  }

  .Nav-about {
    top: 0;
    left: 0;
    color: #F1C234;
  }

  .Nav-about button {
    background-color: #F1C234;
  }

  .Nav-portfolio {
    top: 0;
    right: 0;
    color: #2FB2B1;
  }

  .Nav-portfolio button {
    background-color: #2FB2B1;
  }

  .Nav-contact {
    bottom: 0;
    left: 0;
    color: #D64652;
  }

  .Nav-contact button {
    background-color: #D64652;
  }

  .Nav-resume {
    bottom: 0;
    right: 0;
    color: #5072B3;
  }

  .Nav-resume button {
    background-color: #5072B3;
  }
}
/* ==== PAGE SPECIFIC ==== */
/* ==== ABOUT PAGE ==== */
.About-color {
  color: #F1C234;
}

.skillsList {
  padding: 0;
  list-style-type: none;
}

.container-workflow {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

.About-workflow {
  border-radius: 5px;
  background-color: #B0D2D3;
}

.info-group {
  text-align: left;
}

.info-list .dynamic-text {
  margin-left: 15px;
  padding: 0 12px;
  background-color: #ffd260;
}

.info-list {
  list-style-type: none;
}

/* Workflow Popups */
@media only screen and (min-width: 720px) {
  .container-popup {
    position: absolute;
  }

  .popup-phase1 {
    padding: 5px 10px;
    top: 0;
    right: -200%;
    text-align: left;
  }

  .popup-phase2 {
    top: 0;
    left: -230%;
    text-align: right;
  }

  .popup-phase3 {
    top: 0;
    right: -200%;
    text-align: left;
  }

  .popup-phase4 {
    top: 0;
    left: -200%;
    text-align: right;
  }
}

/* ==== PORTFOLIO PAGE ==== */
.Portfolio-color {
  color: #2FB2B1;
}

.Portfolio-nav {
  background-color: #000;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #FFF;
}

.Portfolio-nav ul {
  margin-bottom: 0;
}

.Portfolio-nav li {
  display: inline-block;
  padding: 0 15px;
  list-style-type: none;
  cursor: pointer;
}

.Portfolio-desc {
  position: relative;
  margin-bottom: 30px;
  padding: 20px;
  border: 2px solid #000;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: left;
  animation: slideDown 1s;
}

.desc-main {
  margin-top: 20px;
}

@keyframes slideDown {
  0% {
    top: -200px;
  }
  100% {
    top:0;
  }
}

.project-item {
  overflow: hidden;
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  cursor: pointer;
}

.project-title {
  position: absolute;
  padding: 10px 20px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: left;
}

.project-technologies ul {
  padding-left: 30px;
}

.project-link {
  padding: 5px 25px;
  background-color: #D64652;
  border: none;
  color: #FFF;
  text-decoration: none;
}

@media only screen and (min-width: 720px) {
  .Portfolio-nav li {
    padding: 0 20px;
  }

  .project-title { /* Project Title Transition */
    bottom: -200px;
    transition: bottom 0.8s ease-out;
  }

  .project-item:hover .project-title {
    bottom: 0;
  }
}

/* ==== CONTACT PAGE ==== */
.Contact-color {
  color: #D64652;
}

.Contact-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #D64652;
  color: #FFF;
}

.Contact-header h2 {
  margin: 0;
  padding: 8px;
}

.Contact-form {
  border: 2px solid #D64652;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #FFF;
  text-align: left;
}

.form-item {
  border-bottom: 1px solid #D64652;
}

#Contact-send {
  margin: 10px 5px;
  padding: 5px 25px;
  border-radius: 1px;
  background-color: #5072B3;
  color: #FFF;
  text-transform: capitalize;
  cursor: pointer;
}

/* ==== RESUME PAGE ==== */
.Resume-color {
  color: #5072B3;
}

.Resume-html { /* Resume Container */
  border: 2px solid #ececec; /* Resume border */
}

.Resume-header { /* Header */
  position: relative;
}

.Resume-header h1 {
  margin: 0;
}

.Resume-headerBG {
  position: absolute;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  background-color: #ff7a7e;
  z-index: -1;
}

.Resume-container {
  padding: 20px;
}

.Resume-container {
  text-align: left;
}

.Resume-container li {
  list-style-type: none;
}

.contact-item { /* Contact */
  background-color: #ff7a7e;
  color: #FFF;
  
  list-style-type: none;
}

.contact-item a {
  color: #FFF;
}

.contact-item p {
  text-align: center;
}

.Resume-experience { /* Experience */
  background-color: #adccff;
}

.experience-title, .experience-sub {
  margin: 0;
}

.experience-desc {
  padding-left: 20px;
}

.Resume-skills { /* SKILLS */
  background-color: #ffd260;
}

.Resume-skills p {
  margin: 0;
}

@media only screen and (min-width: 720px) {
  .Resume-html {
    padding: 20px;
  }

  .Resume-content {
    position: relative;
    width: 600px;
  }
  
  .Resume-contact {
    position: absolute;
    top: 0;
    right: 0;
  }

  .contact-item p {
    text-align: right;
  }

  .Resume-experience {
    position: absolute;
    padding-right: 50px;
    width: 50%;
    top: 0;
    left: 0;
  }

  .Resume-skills {
    position: absolute;
    width: 40%;
    top: 50%;
    right: 0;
  }
}

/* ==== SVG ANIMATIONS ==== */

@media only screen and (min-width: 720px) {
  #App-svg {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.4;
    z-index: -2;
  }
  .SVG-cloud01 {
    position: absolute;
    animation-name: moveCloud;
    animation-duration: 40s;
    animation-iteration-count: infinite;
  } 

  .SVG-sun {
    position: absolute;
    width: 45%;
    top: 0;
    left: 27%;
    animation: moveSun 80s infinite;
  }
}

@keyframes moveSun {
  0%, 100%{
    top: 60px;
  }
  50% {
    top: -275px;
  }
}

@keyframes moveCloud {
  0%, 100%{
    width: 85%;
    left: 0;
  }

  50% {
    width: 85%;
    left: 15%;
  }
}

/* Helpers */
.slideIn {
  position: relative;
  animation: slideIn 1s;
}

@keyframes slideIn {
  0% { bottom: -100px }
  100% { bottom: 0 }
}
